@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Onest:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100..900&display=swap');

@layer base {
    html {
        font-family: Onest, "Noto Sans SC" ,system-ui, sans-serif;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }

    img,
    video {
        box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    }
}

@layer utilities {
    .underline {
        text-decoration-line: underline;
        text-underline-offset: 0.2rem;
    }

    .text-sd {
        text-shadow: 0.1rem 0.1rem 0.1rem rgb(128, 0, 128);
    }

    .title {
        font-style: oblique;
        color: #E1DCD6;
        text-shadow: 0.4rem 0.4rem #66746B,
            0.4rem 0.4rem 1.2rem #22005daf;
    }

    .ab-cntr {
        transform: translate(-50%, -50%);
    }

    .cntr-button {
        color: #66746B;
        background-color: #E1DCD6;
        border: 0.5vh solid #E1DCD6;
        box-shadow: 0 0.5vh 1vh 0 #22005d1f;
    }

    .cntr-button:hover {
        background-color: #66746B;
        border: 0.5vh solid #66746B;
        color: white;
        box-shadow: 0 1vh 2vh 0 #22005d48;
    }

    .trans {
        transition: all 0.3s cubic-bezier(0.25, 1, 0.5, 1);
    }

    .texts {
        font-size: larger;
        line-height: 1.8;
        margin-top: 1em;
        text-indent:2em;
    }

    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }
}